# Environment variables / secrets
.env
.env.*
!.env.example

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*/venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

*.sqlite3
*_log.txt

ai_microservice/media/Assets/train/